<div class="row">
	<div class="col-xs-12 col-md-4">
		<div id="search-panel"></div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div id="track-panel"></div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div id="history-panel"></div>
	</div>
</div>